@import 'libs/bootstrap-reboot.min';
@import 'libs/animate';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');


* {
	position: relative;
	font-family: 'Poppins', sans-serif;
}

section, header, footer, .menu {
	padding: 0 15px;
}

@media (min-width: 575.98px){
	section, header, footer, .menu {
		padding: 0 calc(50vw - 270px);
	}
}

@media (min-width: 767.98px){
	section, header, footer, .menu {
		padding: 0 calc(50vw - 360px);
	}
}

@media (min-width: 991.98px) {
	section, header, footer, .menu {
		padding: 0 calc(50vw - 480px);
	}
}

@media (min-width: 1199.98px){
	section, header, footer, .menu {
		padding: 0 calc(50vw - 590px);
	}
}
@media (min-width: 1679.98px){
	section, header, footer, .menu {
		padding: 0 calc(50vw - 820px);
	}
}

a {
	text-decoration: none;
	color: unset;
}

.separator {
	position: relative;
	display: block;
	margin: 0 auto 13px;
	width: 135px;
	height: 5px;
	background-color: var(--first_color);
	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 135px;
		height: 5px;
		top: 13px;
		background-color: var(--first_color);
	}
}

.overlay {
	position: fixed;
	right: 0;
	width: 0;
	height: 100vh;
	z-index: 1;
	background-color: rgba(0, 0, 0, .3);
	transition: all .4s;
	&_active {
		width: 100vw;
	}
}
@import 'base/mixins';
@import 'base/variables';
@import 'blocks/btn/btn';
@import 'blocks/title/title';
@import 'blocks/menu/menu';
@import 'blocks/header/header';
@import 'blocks/about/about';
@import 'blocks/project/project';
@import 'blocks/testimonial/testimonial';
@import 'blocks/contacts/contacts';
@import 'base/media';